
.header {

    // Hamburger open styles
    &.open {


        .header__toggle {
            > span:first-child {
                transform: rotate(45deg);
            }

            > span:nth-child(2) {
                opacity: 0;
            }

            > span:last-child {
                transform: rotate(-45deg);
            }
        }
    }

    nav {
        position: relative;
        background-color: #fff;
        padding-top: 1.0625rem;
        padding-bottom: 1.0625rem;
    }

    &__logo {

        img {
            width: 8.8125rem;
            height: 1.375rem;
        }
    }

    &__toggle {

        > span {
            display: block;
            width: 26px;
            height: 2px;
            background-color: $DarkBlue;
            transition: all 300ms ease-in-out;
            transform-origin: 3px 1.5px;

            &:not(:last-child) {
                margin-bottom: 5px;
            }
        }

        
    }

    &__menu {
        background-color: $White;
        // margin: 0 1.5rem;
        padding: 1.625rem;
        border-radius: 5px;
        position: absolute;
        width: calc(100% - 3rem);
        left: 50%;
        margin-top: 1.5rem;
        transform: translateX(-50%);

        a {
            color: $DarkBlue;
            padding: 0.625rem;
            display: block;
            text-align: center;
        }
    }

    &__links {

        a {
            position: relative;
            font-size: $font-sm;
            color: $GrayishBlue;
            transition: color 300ms ease-in-out;

            &:not(:last-child) {
                margin-right: 32px;
            }
            
            &::before {
                content: '';
                position: absolute;
                height: 5px;
                left: 0;
                right: 0;
                bottom: -30px;
                background: linear-gradient(to right, $LimeGreen, $BrightCyan);
                opacity: 0;
                transition: opacity 300ms ease-in-out;
            }

            &:hover {
                color: $DarkBlue;

                &::before {
                    opacity: 1;
                }
            }
        }
    }

    &__cta {
        font-size: $font-sm;
        color: $White;
        transition: opacity 300ms ease-in-out;

        &:hover {
            opacity: 0.70;
        }
    }

    .overlay {
        // display: none;
        opacity: 0;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-image: linear-gradient($DarkBlue, transparent);
    }
}

